.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
    height: 370px;
}
.table-responsive {
    overflow-x: auto;
    height: 370px;}
.table-head{
    background-color: #2c6ca8a6;
    height:max-content;
    color: white;

}
.main-container{
    align-content: center;
    margin-top:0 ;
}
nav{
    background-color: #2c6ca8a6;
}
.collapse {
    position: relative;
     height: 16px; 
    overflow: hidden;
    color:white
    }
    .navbar-toggler {
        padding: .25rem .75rem;
        font-size: 0.25rem;
        line-height: 2;
        background-color: deepskyblue;
        border: 2px solid white;
        border-radius: 9.25rem;
        transition: box-shadow .15s ease-in-out;
    }
nav a{
    color:white;
}
.main-container{
    width:100%px;
    height:825px;
    overflow:scroll;
}
.card-body {
    height: 465px;
    flex: 1 1 auto;
    padding: 1rem 1rem;
}


/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#footer{
    padding: 60px 0;
    width:100%;
    height: max-content;
}

section .section-title {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #0318dba6 !important;
    
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }